<div class="nav">
  <img src="../../../assets/logotipo.png" alt="logo primeira oportunidade">
</div>
<div class="black-line"></div>
<div class="chat-container">
  <div class="search-form">
    <i class="bi bi-arrow-left-circle" routerLink="/comunidade"></i>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Pesquise por palavras chaves, modalidade ou localização"
        aria-label="Search"


      />
      <button type="submit">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-search"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
          />
        </svg>
      </button>
    </form>

  </div>
  <app-chat-message></app-chat-message>
</div>
<div class="black-line"></div>
