<!-- Card HTML -->
<div class="col-6">
  <h5>{{ job.title }}</h5>
  <h6>Empresa: {{ job.companyName }}</h6>
  <h6>Modalidade: {{ job.modality }}</h6>
  <h6>Salário: {{ job.salary }}</h6>
  <button
    type="button"
    class="btn btn-warning"
    (click)="openModal(job)"
  >
    Ver informações da vaga
  </button>
</div>

<!-- Modal controlado pelo Angular -->
<div class="modal-backdrop" *ngIf="isModalOpen"></div>
<div class="modal" tabindex="-1" *ngIf="isModalOpen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">{{ selectedJob?.title }}</h1>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <h6><b>Empresa:</b> {{ selectedJob?.companyName }}</h6>
        <h6><b>Modalidade:</b> {{ selectedJob?.modality }}</h6>
        <h6><b>Localidade:</b> {{ selectedJob?.locality }}</h6>
        <h6><b>Estado:</b> {{ selectedJob?.uf }}</h6>
        <h6><b>Nível da vaga:</b> {{ selectedJob?.level }}</h6>
        <h6><b>Contato:</b> {{ selectedJob?.contact }}</h6>
        <h6><b>Requisitos:</b> {{ selectedJob?.requirements }}</h6>
        <h6><b>Benefícios:</b> {{ selectedJob?.benefits }}</h6>
        <h6><b>Descrição da vaga:</b> {{ selectedJob?.description }}</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Sair</button>
        <button
          type="button"
          class="btn btn-primary"
          *ngIf="userType === 'user'"
          (click)="apply()"
        >
          Candidatar
        </button>
      </div>
    </div>
  </div>
</div>
