<app-alert
  [message]="alertMessage"
  [class]="alertClass"
  [isVisible]="showAlert"
  [title]="alertTitle"
  [iconClass]="alertIconClass"
></app-alert>
<!--[ngClass]="{ 'inactive-or-filled': job.isFilled || !job.isActive }"-->
<div class="col-6 job-card">
  <h5>
    {{ job.title }}

    <button
      type="button"
      *ngIf="userType === 'company'"
      class="close-button"
      (click)="openApplicationModal(job.id)"
    >
      <i class="bi bi-people-fill"></i>
    </button>
  </h5>

  <h6>Empresa: {{ job.companyName }}</h6>
  <h6>Modalidade: {{ job.modality }}</h6>
  <h6>Salário: {{ job.salary }}</h6>
  <ng-container *ngIf="!job.isFilled && job.isActive; else finished">
    <button type="button" class="btn btn-warning" (click)="openModal(job)">
      Ver informações da vaga
    </button>
  </ng-container>
  <ng-template #finished>
    <button type="button" class="btn btn-danger" disabled>
      Vaga encerrada
    </button>
  </ng-template>
</div>

<!-- Modal controlado pelo Angular -->
<div
  class="modal"
  tabindex="-1"
  *ngIf="isModalOpen"
  [ngClass]="{ 'modal-highlight': isModalOpen }"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">
          {{ selectedJob?.title }}
        </h1>
        <div
          class="button-wrapper"
          *ngIf="job.isActive == true && job.isFilled == false"
        >
          <button
            type="button"
            class="btn-close"
            (click)="editJob(job.id)"
            *ngIf="userType === 'company'"
          >
            <i class="bi bi-pencil-fill"></i>
          </button>
          <button
            type="button"
            class="btn-close"
            (click)="prepareModalPassword(cancelJob, job.id)"
            *ngIf="userType === 'company'"
          >
            <i class="bi bi-trash3-fill"></i>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <h6><b>Preenchida:</b>{{job.isFilled}}</h6>
        <h6><b>Ativa:</b>{{job.isActive}}</h6>
        <h6><b>Empresa:</b> {{ job?.companyName }}</h6>
        <h6><b>Modalidade:</b> {{ job?.modality }}</h6>
        <h6><b>Localidade:</b> {{ job?.locality }}</h6>
        <h6><b>Estado:</b> {{ selectedJob?.uf }}</h6>
        <h6><b>Nível da vaga:</b> {{ selectedJob?.level }}</h6>
        <h6><b>Contato:</b> {{ selectedJob?.contact }}</h6>
        <h6><b>Requisitos:</b> {{ job?.requirements }}</h6>
        <h6><b>Benefícios:</b> {{ job?.benefits }}</h6>
        <h6><b>Descrição da vaga:</b> {{ selectedJob?.description }}</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Sair
        </button>
        <ng-container *ngIf="applied; else applyTemplate">
          <button
            type="button"
            class="btn btn-danger"
            *ngIf="userType === 'user'"
            (click)="prepareModalPassword(cancelApplication, selectedJob?.id)"
          >
            Cancelar
          </button>
        </ng-container>
        <ng-template #applyTemplate>
          <button
            type="button"
            class="btn btn-warning"
            *ngIf="
              userType === 'user' &&
              job.isActive == true &&
              job.isFilled == false
            "
            (click)="apply(job.id)"
          >
            Candidatar
          </button>
        </ng-template>
        <button
          type="button"
          class="btn btn-primary"
          (click)="prepareModalPassword(finishJob, job?.id)"
          *ngIf="
            userType === 'company' &&
            job.isActive == true &&
            job.isFilled == false
          "
        >
          Preencher vaga
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" *ngIf="isModalQuestionOpen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Perguntas da empresa</h1>
      </div>
      <div class="modal-body">
        <form>
          <div>
            <div class="row" *ngFor="let question of questions; let i = index">
              <div class="col-12">
                <label [for]="'question' + i" class="form-label">{{
                  question.question
                }}</label>
                <input
                  type="text"
                  id="question"
                  placeholder="Digite sua resposta"
                  class="form-control"
                  [(ngModel)]="respostas[i]"
                  [name]="'pergunta' + i"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="closeQuestionModal()"
        >
          Sair
        </button>
        <button
          type="button"
          class="btn btn-warning"
          *ngIf="userType === 'user'"
          (click)="submitAnswers(job.id)"
        >
          Finalizar candidatura
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" *ngIf="isModalApplicationOpen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Pessoas que se candidataram</h1>
        <div class="button-wrapper">
          <h1 class="modal-title fs-5" style="margin-right: 5px">
            {{ applications.length }}
          </h1>
          <i class="bi bi-people-fill" (click)="closeApplicationModal()"></i>
        </div>
      </div>
      <div class="modal-body">
        <div *ngFor="let application of applications">
          <div
            *ngIf="userData[application.userId] as user"
            class="applications"
          >
            <p>{{ user.name }}</p>
            <button
              type="button"
              class="btn btn-primary"
              (click)="createUserCurriculum(application.userId)"
            >
              Visualizar currículo
            </button>
          </div>
          <div *ngIf="!userData[application.userId]">
            <p>Carregando dados do usuário...</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="closeApplicationModal()"
        >
          Sair
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" *ngIf="isModalCurriculumOpen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">
          {{ selectedUserId !== null ? userData[selectedUserId]?.name : "" }}
        </h1>
      </div>
      <div class="modal-body">
        <p>
          <strong>Email:</strong>
          {{ selectedUserId !== null ? userData[selectedUserId]?.email : "" }}
        </p>
        <p>
          <strong>Telefone:</strong>
          {{
            selectedUserId !== null ? userData[selectedUserId]?.phoneNumber : ""
          }}
        </p>
        <!-- Currículo -->
        <div *ngIf="selectedUserCurriculum"></div>

        <!-- Dados Acadêmicos -->
        <div *ngIf="selectedAcademicData.length > 0">
          <p><strong>Dados Acadêmicos:</strong></p>
          <ul>
            <li *ngFor="let academic of selectedAcademicData">
              Curso: {{ academic.name }}, Instituição:
              {{ academic.institutionName }}
            </li>
          </ul>
        </div>

        <!-- Cursos -->
        <div *ngIf="selectedCoursesData.length > 0">
          <p><strong>Cursos:</strong></p>
          <ul>
            <li *ngFor="let course of selectedCoursesData">
              Nome do Curso: {{ course.name }}, Instituição:
              {{ course.institutionName }}
            </li>
          </ul>
        </div>

        <!-- Competências -->
        <div *ngIf="selectedCompetences.length > 0">
          <p><strong>Competências:</strong></p>
          <ul>
            <li *ngFor="let competence of selectedCompetences">
              {{ competence.name }}
            </li>
          </ul>
        </div>
        <div *ngIf="answerWithQuestion.length > 0">
          <p><strong>Perguntas e Respostas:</strong></p>
          <ul>
            <div *ngFor="let item of answerWithQuestion">
              <p>
                <strong>{{ item.question }}</strong>
              </p>
              <p>{{ item.answer }}</p>
            </div>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="closeCurriculumModal()"
        >
          Sair
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Vertically centered modal -->

<div class="modal" id="password" tabindex="-1" *ngIf="isModalPasswordOpen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Confirme sua senha para prosseguir</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <label class="form-label"
              >Informe sua senha para confirmar que é você</label
            >
            <input
              type="password"
              name="passwordUser"
              id="passwordUser"
              placeholder="Digite sua senha para prosseguir"
              class="form-control"
              [(ngModel)]="confirmedPassword"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="closeModalPassword()"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="confirmPassword()"
        >
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>
