<app-navbar></app-navbar>
<h2>
  <i class="bi bi-arrow-left-circle" routerLink="/comunidade"></i>Dicas para
  entrevistas
</h2>
<div class="container">
  <div class="row">
    <p>
      A entrevista de trabalho é a sua grande oportunidade de exibir suas
      habilidades, personalidade e características únicas para o entrevistador.
      Deve-se preparar corretamente para não cometer erros comuns e conseguir
      passar uma boa primeira impressão. Vamos analisar as dicas que vão te
      ajudar a ir tranquilo para sua primeira entrevista:

      <br />
      <br />
      <br />
    </p>
  </div>
  <div class="row">
    <div class="col-9">
      <ul>
        <li>
          Pesquisa
        </li>
        <li>
          Conheça a Vaga
        </li>
        <li>
          Saiba responder perguntas frequentes
        </li>
        <li>
          Aja de maneira confiante
        </li>
        <li>
          Não minta
        </li>
        <li>
          Faça perguntas
        </li>
      </ul>
    </div>
    <div class="col-3">
      <img src="../../../assets/Team of employees discussing the project.png" alt="">
    </div>
  </div>
  <div class="row">
    <p>
      Pesquisa: Alguns dias antes da entrevista, você deve pesquisar sobre a
      empresa e a área que você está se candidatando. Mostrar o seu conhecimento
      sobre a empresa vai mostrar ao recrutador que você está interessado e se
      mantém atualizado a respeito da empresa.

      <br />
      <br />
      <br />

      Conheça a vaga: Familiarize-se com a descrição da vaga e comece a pensar
      em como você se encaixa no perfil da empresa e para o que consegue
      contribuir. Se torna uma estratégia muito útil caso o recrutador ou
      recrutadora pergunte o que você traz de ganho para eles.

      <br />
      <br />
      <br />

      Chegue com respostas prontas para as perguntas conhecidas: Várias
      perguntas feitas em uma entrevista são feitas na maior parte delas, por
      exemplo: "Fale um pouco sobre você", ou "Quais são seus pontos fortes e
      fracos?", "Onde você se vê em cinco anos?", e outras do tipo. Se você
      estruturar suas respostas de maneira clara e objetiva, irá reduzir o seu
      nervosismo de tentar formular algo na hora.

      <br />
      <br />
      <br />

      Aja de maneira confiante: Mesmo se você for uma pessoa não tão confiante,
      venda-se com uma imagem sólida. Mostre-se confortável mas não desleixado,
      e saiba diferenciar entre confiança e arrogância. Se conseguir, controle
      sempre o fluxo da conversa equilibradamente, não falando demais e nem se
      mantendo quieto demais.

      <br />
      <br />
      <br />

      Não minta: Mentiras têm pernas curtas, não minta sobre suas capacidades na
      entrevista. Não exagere suas habilidades. Não sinta medo de falar que não
      sabe algo, a entrevista é também para acessar suas capacidades, caso seja
      acessado incorretamente pode levar à vários problemas. O recrutador ou
      recrutadora vai apreciar sua capacidade de falar a verdade.

      <br />
      <br />
      <br />

      Faça perguntas: Quase todas as entrevistas encerram com um momento para o
      candidato perguntar sobre suas dúvidas. Faça perguntas sobre a rotina
      dentro da empresa, o que as equipes fazem durante as semanas de trabalho,
      e perguntas que mostrem o seu interesse no contexto da empresa
      contratando. É melhor não perguntar sobre salário e benefícios em um
      primeiro momento, a não ser que o entrevistador fale sobre isso de sua
      própria volição.

      <br />
      <br />
      <br />

      Com essas dicas em mente, lembre-se de sempre estar confortável e não
      demonstrar insegurança, pois uma entrevista não deve ser assustadora e sim
      interessante! Boa sorte candidato!
    </p>
  </div>
</div>
