<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h5>Candidato</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a routerLink="/" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a routerLink="/criar-conta" class="nav-link p-0 text-body-secondary">Criar conta</a></li>
          <li class="nav-item mb-2"><a routerLink="/empresas" class="nav-link p-0 text-body-secondary">Empresas</a></li>
          <li class="nav-item mb-2"><a routerLink="/vagas" class="nav-link p-0 text-body-secondary">Vagas</a></li>
          <li class="nav-item mb-2"><a routerLink="/comunidade" class="nav-link p-0 text-body-secondary">Comunidade</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Empresa</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a routerLink="/" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a routerLink="/para-empresas" class="nav-link p-0 text-body-secondary">Criar conta</a></li>
          <li class="nav-item mb-2"><a routerLink="/criar-vaga" class="nav-link p-0 text-body-secondary">Criar vaga</a></li>
          <li class="nav-item mb-2"><a routerLink="/minhas-vagas" class="nav-link p-0 text-body-secondary">Minhas vagas</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Contato</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary">primeiraoportunidade&#64;gmail.com</a></li>
          <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary">(15) 97401-9467</a></li>
          <li class="nav-item mb-2"><a routerLink="/" class="nav-link p-0 text-body-secondary">Sobre nós</a></li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>Digite seu email para entrarmos em contato</h5>
          <p>Fale conosco e conheça os nossos planos.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Endereço de email</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Endereço de email">
            <button class="btn btn-primary" type="button">Inscrever</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>© 2024 Primeira Oportunidade.</p>
    </div>
  </footer>
</div>
