<div class="container">
  <h2><svg
    xmlns="http://www.w3.org/2000/svg"
    width="35"
    height="35"
    fill="currentColor"
    class="bi bi-arrow-left-circle"
    viewBox="0 0 16 16"
    routerLink="/"
  >
    <path
      fill-rule="evenodd"
      d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
    /></svg>Esqueci minha senha</h2>
  <p>Para redefinir sua senha, preencha o campo abaixo com o email cadastrado e enviaremos um link com as instruções para redefinir sua senha</p>
  <div class="form-wrapper">
    <label for="user">Digite seu email</label>
    <input type="text" name="user" id="user" placeholder="Email para recuperação" />
    <button class="btn btn-primary">Recuperar senha</button>
  </div>
</div>
