.d-flex{
  gap: 2rem;
  align-items: center;
}
img{
  height: 4rem;
  background-color: #f8f8f8;
  border-radius: 8px;
}
nav{
  background-color: #004AAD;
  position: sticky;
  top: 0;
  z-index: 99999;
}
button{
  color: #fff;
  font-weight: 600;
  background-color: #FF7B2A;
  border: none  ;
}
a{
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
svg{
  color: #000;
  font-weight: 600;
}
