.d-flex {
  gap: 1rem;
  align-items: center;
}
img {
  height: 4rem;
  background-color: #f8f8f8;
  border-radius: 8px;
}
nav {
  background-color: #004aad;
  position: sticky;
  top: 0;
  z-index: 99999;
}
button {
  color: #fff;
  font-weight: 600;
  background-color: #ff7b2a;
  border: none;
}
li{
  margin-left: 1rem;
}
#profile{
  display: none;
}
a {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.dropdown-menu{
  position: absolute;
  top: 5.5rem;
  right: 0;
}
.navbar-collapse{

}
i {
  color: #000;

}
.bi-person-circle{
  margin-left: 5rem;
  margin-right: 2rem;
}
@media (max-width: 991.5px) {
  button {
    background-color: #004aad;
  }
  button:hover {
    background-color: #004aad;
    color: #fff;
  }
  button:focus{
    outline: none;
    border: none;
    box-shadow: none;
  }
  ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  li{
    margin: 0;
  }
  form{
    display: flex;
    flex-direction: column;
  }
  i{
    display: none;
  }
  #profile{
    display: block;
  }
  .dropdown-menu{
    margin: 0;
    margin-top: 5rem;
    top: 73%;
    right: 30%;
  }
}
@media (max-width: 455px){
  .dropdown-menu{
    margin: 0;
    margin-top: 5rem;
    top: 73%;
    right: 0%;
    width: 100%;
  }
}
