<div class="form">
  <h2><svg
    xmlns="http://www.w3.org/2000/svg"
    width="35"
    height="35"
    fill="currentColor"
    class="bi bi-arrow-left-circle"
    viewBox="0 0 16 16"
    routerLink="/"
  >
    <path
      fill-rule="evenodd"
      d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
    /></svg>Cadastre sua empresa</h2>
  <div class="mb-3">
    <label for="companyName" class="form-label">Nome da empresa</label>
    <input
      type="text"
      name="companyName"
      id="companyName"
      placeholder="Nome da empresa"
      class="form-control"
    />
  </div>
  <div class="mb-3">
    <label for="companyCnpj" class="form-label">CNPJ</label>
    <input
      type="text"
      name="companyCnpj"
      id="companyCnpj"
      placeholder="CNPJ"
      class="form-control"
    />
  </div>
  <div class="mb-3">
    <label for="companyEmail" class="form-label">Email</label>
    <input
      type="email"
      name="companyEmail"
      id="companyEmail"
      placeholder="Email"
      class="form-control"
    />
  </div>
  <div class="mb-3">
    <label for="companyPassword" class="form-label">Senha</label>
    <input
      type="password"
      name="companyPassword"
      id="companyPassword"
      placeholder="Senha"
      class="form-control"
    />
  </div>
  <div class="mb-3">
    <label for="companyCity" class="form-label">Cidade</label>
    <input
      type="text"
      name="companyCity"
      id="companyCity"
      placeholder="Cidade"
      class="form-control"
    />
  </div>
  <div class="mb-3">
    <label for="companyAddress" class="form-label">Endereço</label>
    <input
      type="text"
      name="companyAddress"
      id="companyAddress"
      placeholder="Endereço"
      class="form-control"
    />
  </div>
  <button (click)="registerCompany()" class="btn btn-primary">Cadastrar</button>
</div>
