.form{
  display: flex;
  flex-direction: column;
  max-width: 37rem;
  margin: 5.5rem auto;
  gap: 0.75rem;
  margin-bottom: 5rem;
  padding: 1rem;

}
h3{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.close-form{
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
.close-button{
  background-color: transparent;
}
.btn-warning{
  color: #fff;
  font-weight: 600;
  background-color: #ff7b2a;
  border: none;
}
.btn-primary{
  background-color: #004aad;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-left: 1rem;
}
.progress{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: transparent;
}
svg{
  font-weight: 600;
  cursor: pointer;
}
.check-input{
  font-size: 11px;
  margin-top: 4px;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.check-input label{
  margin-top: 4px;
}
p{
  text-align: center;
}
nav{
  margin: 0 auto;
}
@media(max-width:1244px){
  h3{
    gap: 3px;
  }
  .check-input{
    font-size: 16px;
  }
}
