<app-navbar></app-navbar>
<h2>
  <i class="bi bi-arrow-left-circle" routerLink="/comunidade"></i>Conheça as
  competências
</h2>
<div class="container">
  <div class="row">
    <p>
      Conheça as Competências Que Farão a Diferença na Sua Carreira No mundo do
      trabalho atual, desenvolver as competências certas pode ser o fator
      decisivo para conquistar as melhores oportunidades. Aqui na Primeira
      Oportunidade, acreditamos que o sucesso profissional vai além do
      conhecimento técnico. As empresas buscam por jovens talentos que possuam
      habilidades comportamentais, adaptabilidade e visão de futuro.

      <br />
      <br />
      <br />

      Competências Técnicas (Hard Skills) As competências técnicas são aquelas
      diretamente relacionadas à sua área de atuação. São os conhecimentos que
      você adquire por meio de cursos, treinamentos e experiências práticas, e
      que podem ser facilmente mensurados. Aqui estão algumas das competências
      que ajudarão a destacar o seu perfil:
    </p>
  </div>
  <div class="row">
    <div class="col-9">
      <ul>
        <li>Programação e Desenvolvimento de Software</li>
        <li>Análise de Dados e Business Intelligence</li>
        <li>Design Gráfico e UI/UX</li>
        <li>Marketing Digital e SEO</li>
        <li>Gestão de Projetos</li>
      </ul>
    </div>
    <div class="col-3">
      <img
        class="img"
        src="../../../assets/Man programmer writing code and making web design on a PC.png"
        alt=""
      />
    </div>
  </div>
  <div class="row">
    <br />
    <br />
    <br />

    Competências Comportamentais (Soft Skills) As competências comportamentais
    são cada vez mais valorizadas no ambiente de trabalho moderno. Elas estão
    relacionadas à forma como você lida com os desafios do dia a dia, se
    comunica com sua equipe e toma decisões. Aqui estão algumas das competências
    que ajudarão a destacar o seu perfil:
    <br />
    <br />
  </div>
  <div class="row">
    <div class="col-5">
      <img
        src="../../../assets/Support operator helps to solve the problem.png"
        alt=""
      />
    </div>
    <div class="col-7">
      <ul>
        <li>
          Comunicação Eficaz: Saber transmitir suas ideias com clareza e escutar
          ativamente seus colegas e gestores.
        </li>
        <li>
          Trabalho em Equipe: Capacidade de colaborar e contribuir em grupos
          multidisciplinares.
        </li>
        <li>
          Resolução de Problemas: Habilidade para identificar, analisar e
          encontrar soluções criativas para os desafios que surgem.
        </li>
        <li>
          Inteligência Emocional: Gerenciar suas emoções e entender as dos
          outros, criando um ambiente de trabalho positivo e produtivo.
        </li>
        <li>
          Adaptabilidade e Flexibilidade: Estar preparado para mudanças e novos
          desafios com uma mentalidade aberta.
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <p>
      <br />
      <br />
      <br />

      Competências de Futuro Além das competências técnicas e comportamentais,
      existem também as competências de futuro, que serão essenciais em um
      mercado de trabalho cada vez mais dinâmico e movido por inovações. Entre
      essas habilidades estão:

      <br />
      <br />
    </p>
  </div>
  <div class="row">
    <div class="col-9">
      <ul>
        <li>
          Pensamento Crítico: Avaliar as situações de forma analítica e tomar
          decisões baseadas em dados e lógica.
        </li>
        <li>
          Inovação e Criatividade: Capacidade de pensar "fora da caixa" e propor
          soluções que agreguem valor.
        </li>
        <li>
          Alfabetização Digital: Compreensão de novas tecnologias, desde o uso
          de ferramentas digitais até conceitos avançados como inteligência
          artificial e blockchain.
        </li>
      </ul>
    </div>
    <div class="col-3">
      <img
        class="img"
        src="../../../assets/People in office working on time management.png"
        alt=""
      />
    </div>
  </div>
  <div class="row">
    <p>
      <br />
      <br />
      <br />

      Como Desenvolver Suas Competências? Na Primeira Oportunidade, vamos
      indicar conteúdos educacionais, cursos especializados e ferramentas de
      autoavaliação que ajudam você a entender quais competências precisa
      aprimorar e como aplicá-las no seu dia a dia. Invista no seu
      desenvolvimento e esteja preparado para o futuro do trabalho!

      <br />
      <br />
    </p>
  </div>
</div>
