button {
  background-color: #fff;
  border: none;
}
button:hover {
  background-color: #ebebeb;
}
button i {
  color: #000;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chat-window {
  height: 62vh;
  width: 80%;
  padding: 10px;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  margin: 0 auto;
}

.chat-message-sent {
  align-self: flex-end;
  max-width: 75%;
  background-color: #e5e9ff;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  margin-bottom: 7px;
  color: #000;
  word-wrap: break-word; /* Quebra as palavras longas */
  overflow-wrap: break-word; /* Quebra as palavras para ajustar na linha */
  white-space: pre-wrap;
}

.chat-message-received {
  align-self: flex-start;
  max-width: 75%;
  background-color: #f1f1f1;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  margin-bottom: 7px;
  color: #000;
  word-wrap: break-word; /* Quebra as palavras longas */
  overflow-wrap: break-word; /* Quebra as palavras para ajustar na linha */
  white-space: pre-wrap;
}

.user-name {
  display: flex;
  align-items: center;
  gap: 5px;
}
.chat-message i {
  font-size: 24px;
}
@media(max-width:500px){
  .chat-window{
    width: 100%;
  }
}
