button{
  background-color: #fff;
  border: none;
}
button:hover{
  background-color: #ebebeb;
}
button i{
  color: #000;
}
.chat-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chat-window{
  height: 62vh;

  padding: 10px;
}
