<div class="container">
  <h2>{{ title }}</h2>
  <div class="form-wrapper">
    <label for="user">Usuário</label>
    <input type="text" name="user" id="user" placeholder="Digite seu email" />
    <label for="password">Senha</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Digite sua senha"
    />
    <a href="#">Esqueceu sua senha?</a>
    <button (click)="login()" class="btn btn-primary">Entrar</button>
    <a href="#">Termos de uso</a>
  </div>
</div>
