<div class="form">
  <h2>{{ title }}</h2>
  <div class="form-wrapper">
    <label for="user">{{ userInput }}</label>
    <input type="text" name="user" id="user" placeholder="Digite seu email" />
    <label for="password">{{ passwordInput }}</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Digite sua senha"
    />
    <a href="#">{{forgotPassword}}</a>
    <button (click)="login()" class="btn btn-primary">{{ buttonText }}</button>
  </div>
  <a href="#">{{useTermsText}}</a>
</div>
