
.container{
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 5rem;
  background-color: #fff;
  padding: 2rem 1.5rem;
  border-radius: 8px;
}
.form-wrapper{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
h2{
  font-size: 2rem;
  margin-bottom: 4rem;
  text-align: center;
}
input{
  height: 2rem;
  padding: 0 1rem;
  border: none;
  border-bottom: 1px solid #000;
}
input:focus{
  outline: none;
}
button{
  height: 2.5rem;
  margin: 1rem 0;
  background-color: #004AAD;
}
h3{
  text-align: center;
}
a{
  text-align: center;
  width: 100%;
}
