<app-alert
  [message]="alertMessage"
  [class]="alertClass"
  [isVisible]="showAlert"
  [title]="alertTitle"
  [iconClass]="alertIconClass"
></app-alert>

<form *ngIf="userForm" [formGroup]="userForm" class="form">
  <h3>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="35"
      height="35"
      fill="currentColor"
      class="bi bi-arrow-left-circle"
      viewBox="0 0 16 16"
      routerLink="/"
    >
      <path
        fill-rule="evenodd"
        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
      />
    </svg>
    Dados pessoais
  </h3>
  <div class="close-form" *ngIf="isAuthenticated()">
    <button type="button" class="close-button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        fill="currentColor"
        class="bi bi-trash3-fill"
        viewBox="0 0 16 16"
        (click)="openModalPassword(deleteUser)"
      >
        <path
          d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"
        />
      </svg>
    </button>
  </div>
  <div class="row">
    <div class="col-12">
      <label class="form-label">Nome</label>
      <input
        type="text"
        name="nameUser"
        id="nameUser"
        placeholder="Nome"
        class="form-control"
        formControlName="name"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label class="form-label">CPF</label>
      <input
        type="text"
        name="cpfUser"
        id="cpfUser"
        placeholder="CPF"
        class="form-control"
        formControlName="cpf"
        mask="000.000.000-00"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label class="form-label">Telefone</label>
      <input
        type="tel"
        name="phoneNumberUser"
        id="phoneNumberUser"
        placeholder="Telefone"
        class="form-control"
        formControlName="phoneNumber"
        mask="(00) 00000-0000"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label class="form-label">Email</label>
      <input
        type="email"
        name="emailUser"
        id="emailUser"
        placeholder="Email"
        class="form-control"
        formControlName="email"
      />
    </div>
  </div>
  <ng-container *ngIf="isAuthenticated(); else password"> </ng-container>
  <ng-template #password>
    <div class="row">
      <div class="col-12">
        <label class="form-label">Senha</label>
        <input
          type="password"
          name="passwordUser"
          id="passwordUser"
          placeholder="Senha"
          class="form-control"
          formControlName="password"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label class="form-label">Confirme sua senha</label>
        <input
          type="password"
          name="confirmPasswordUser"
          id="confirmPasswordUser"
          placeholder="Confirme sua senha"
          class="form-control"
          formControlName="confirmPassword"
        />
      </div>
    </div>
  </ng-template>

  <ng-container *ngIf="isAuthenticated(); else submit">
    <button
      class="btn btn-primary"
      type="button"
      (click)="openModalPassword(onUpdate)"
    >
      Atualizar
    </button>
  </ng-container>
  <ng-template #submit>
    <button class="btn btn-primary" type="button" (click)="onSubmit()">
      Cadastrar
    </button>
    <p>Já possui conta?<a routerLink="/login/candidato">Login</a></p>
  </ng-template>
</form>

<div class="modal-backdrop" *ngIf="isModalPasswordOpen"></div>
<div class="modal" tabindex="-1" *ngIf="isModalPasswordOpen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Confirme sua senha para prosseguir</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <label class="form-label"
              >Informe sua senha para confirmar que é você</label
            >
            <input
              type="password"
              name="passwordUser"
              id="passwordUser"
              placeholder="Senha"
              class="form-control"
              [(ngModel)]="confirmedPassword"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="closeModalPassword()"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="confirmPassword()"
        >
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>
