.form{
  display: flex;
  flex-direction: column;
  width: 32rem;
  margin: 0 auto;
  gap: 0.75rem;
  margin-bottom: 5rem;
}
h2{
  text-align: center;
}
.dateOfBirthInputs{
  display: flex;
  justify-content: space-between;
}
.dateOfBirthInputs input{
  width: 9rem;
}
