<app-alert [message]="alertMessage" [type]="alertType" [isVisible]="showAlert"></app-alert>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form">
  <h3>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="35"
      height="35"
      fill="currentColor"
      class="bi bi-arrow-left-circle"
      viewBox="0 0 16 16"
      routerLink="/"
    >
      <path
        fill-rule="evenodd"
        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
      /></svg>É seu primeiro acesso? Cadastre-se
  </h3>
  <div class="mb-3">
    <label for="nameUser" class="form-label">Nome</label>
    <input
      type="text"
      name="nameUser"
      id="nameUser"
      placeholder="Nome"
      class="form-control"
      formControlName="name"
    />
  </div>
  <div class="mb-3">
    <label for="phoneNumberUser" class="form-label">Telefone</label>
    <input
      type="text"
      name="phoneNumberUser"
      id="phoneNumberUser"
      placeholder="Telefone"
      class="form-control"
      formControlName="phoneNumber"
    />
  </div>
  <div class="mb-3">
    <label for="emailUser" class="form-label">Email</label>
    <input
      type="text"
      name="emailUser"
      id="emailUser"
      placeholder="Email"
      class="form-control"
      formControlName="email"
    />
  </div>
  <div class="mb-3">
    <label for="passwordUser" class="form-label">Senha</label>
    <input
      type="password"
      name="passwordUser"
      id="passwordUser"
      placeholder="Senha"
      class="form-control"
      formControlName="password"
    />
  </div>
  <div class="mb-3">
    <label for="confirmPasswordUser" class="form-label">Confirme sua senha</label>
    <input
      type="password"
      name="confirmPasswordUser"
      id="confirmPasswordUser"
      placeholder="Confirme sua senha"
      class="form-control"
      formControlName="confirmPassword"
    />
  </div>
  <button class="btn btn-primary">
    Cadastrar
  </button>
  <p>Já possui conta?<a routerLink="/login">Login</a></p>
</form>
