.form{
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin: 3rem auto;
  gap: 0.75rem;
  margin-bottom: 5rem;
  padding: 1rem;

}
h3{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.progress{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: transparent;
}
button{
  background-color: #004aad;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-left: 1rem;
}
svg{
  font-weight: 600;
  cursor: pointer;
}
p{
  text-align: center;
}
textarea {
  resize: none;
}
nav{
  margin: 0 auto;
}
@media(max-width:1244px){
  h3{
    gap: 3px;
  }
}
