<app-navbar></app-navbar>
<div class="search-wrapper">
  <h2>Vagas</h2>
  <app-search-form></app-search-form>
</div>
<div class="card-wrapper">
  <div class="row">
    <app-job-card class="col-9 col-md-4"></app-job-card>
    <app-job-card class="col-9 col-md-4"></app-job-card>
    <app-job-card class="col-9 col-md-4"></app-job-card>
    <app-job-card class="col-9 col-md-4"></app-job-card>
    <app-job-card class="col-9 col-md-4"></app-job-card>
    <app-job-card class="col-9 col-md-4"></app-job-card>
  </div>
</div>
