<app-navbar></app-navbar>
<h2>
  <i class="bi bi-arrow-left-circle" routerLink="/comunidade"></i>Dicas de
  cursos
</h2>
<div class="container">
  <div class="row">
    <div class="col-12">
      <p>
        Aprender continuamente é essencial para se destacar no
        mercado de trabalho, especialmente para jovens em busca de sua primeira
        oportunidade.

        Selecionamos algumas plataformas e cursos que podem ajudar a
        desenvolver habilidades importantes, como tecnologia, comunicação e
        liderança.

        <br>
        <br>
        <br>

        Plataformas Recomendadas e seus Principais Cursos:

        <br>
        <br>

        • Coursera: Oferece cursos em diversas áreas, com certificados reconhecidos.
        https://www.coursera.org/specializations/digital-marketing

        <br>
        <br>

        • Udemy: Cursos acessíveis para quem quer aprender no seu próprio ritmo.
        https://www.udemy.com/course/web-completo/?couponCode=MTST7102224A2

        <br>
        <br>

        • Alura: Uma plataforma brasileira com foco em tecnologia e desenvolvimento
        de carreira.
        https://www.alura.com.br/formacao-data-science-python?

        <br>
        <br>

        • SENAI: Cursos voltados para a qualificação profissional em áreas como
        indústria e tecnologia.
        https://cursos.sesisenai.org.br/curso/tecnico-em-automacao-industrial/2961

        <br>
        <br>

        • Fundação Bradesco: Oferece cursos gratuitos em áreas como informática,
        finanças e empreendedorismo.
        https://www.ev.org.br/cursos/microsoft-excel-2016-avancado

        <br>
        <br>

        Explore essas opções para adquirir novas competências e se preparar melhor para o
        mercado!
      </p>
    </div>

  </div>
</div>
<app-footer></app-footer>
