<app-navbar></app-navbar>
<app-carousel></app-carousel>
<app-article-user></app-article-user>
<app-article-company></app-article-company>
<div class="container">
  <div class="article">
    <div class="col-8" style="background-color: #f3f2f0">
      <p>
        <b
          >Se informe em nossa seção de comunidade e se prepare para o mercado
          de trabalho</b
        >
      </p>
      <br />
      <br />
      <p>
        Candidato, com este recurso, você vai encontrar uma variedade de dicas
        para seu currículo e entrevista, trilhas personalizadas em diversas
        áreas de formação, plataformas de cursos, além de conhecer as
        competências requeridas pelas empresas.
      </p>
      <br />
      <br />
      <p>
        Turbine seu currículo e conhecimentos e se prepare para o mundo
        profissional!
      </p>
    </div>
    <div class="col-4">
      <img src="../../../assets/image-phone-logo-2.jpeg" alt="" />
    </div>
  </div>
</div>
<div class="orange-line">SOBRE NÓS</div>
<app-user-login-form></app-user-login-form>
<app-footer></app-footer>
