<app-navbar></app-navbar>
<app-carousel></app-carousel>
<app-article-user></app-article-user>
<app-article-company></app-article-company>
<div class="container">
  <div class="article">
    <div class="col-8" style="background-color: #f3f2f0">
      <p>
        <b
          >Se informe em nossa seção de comunidade e se prepare para o mercado
          de trabalho</b
        >
      </p>
      <br />
      <br />
      <p>
        Candidato, com este recurso, você vai encontrar uma variedade de dicas
        para seu currículo e entrevista, trilhas personalizadas em diversas
        áreas de formação, plataformas de cursos, além de conhecer as
        competências requeridas pelas empresas.
      </p>
      <br />
      <br />
      <p>
        Turbine seu currículo e conhecimentos e se prepare para o mundo
        profissional!
      </p>
    </div>
    <div class="col-4">
      <img src="../../../assets/image-phone-logo-2.jpeg" alt="" />
    </div>
  </div>
</div>
<div class="orange-line">SOBRE NÓS</div>
<div class="about-us">
  <h4><b>Bem vindo à </b><img src="../../../assets/logotipo.png" alt="" /></h4>
  <p>
    Uma plataforma inclusiva e inovadora que conecta jovens em busca do primeiro
    emprego a oportunidades no mercado de trabalho.
    <br />
    <br />
    Nosso objetivo é facilitar o início da carreira de adolescentes e jovens
    adultos, fornecendo não apenas vagas de estágio e jovem aprendiz, mas também
    suporte para o desenvolvimento profissional.
    <br />
    <br />
    Acreditamos que o primeiro emprego é um passo essencial para a construção de
    uma identidade profissional, e por isso oferecemos uma experiência única,
    com recursos como:
    <br />
    <br />
  </p>
  <ul>
    <li>
      Orientações práticas: Como criar um currículo, se preparar para
      entrevistas e desenvolver habilidades comportamentais e técnicas (soft e
      hard skills).
    </li>
    <li>
      Comunidade colaborativa: Um espaço para troca de experiências,
      conhecimento e aprendizagem coletiva.
    </li>
    <li>
      Parcerias estratégicas: Conexão com empresas e instituições comprometidas
      em identificar e apoiar novos talentos.
    </li>
  </ul>
  <p>
    <br />
    <br />
    Inspirados por estudos sobre empregabilidade juvenil, inclusão social e
    desenvolvimento de competências, nossa missão vai além da divulgação de
    vagas. Queremos preparar os jovens para os desafios do mercado de trabalho,
    promovendo a redução das desigualdades e a formação de profissionais
    confiantes e habilidosos.
    <br />
    <br />
    Com a Primeira Oportunidade , acreditamos no poder de criar pontes entre
    sonhos e realizações, ajudando os jovens a darem seus primeiros passos rumo
    ao futuro profissional que interessa.
  </p>
  <br />
  <br />
  <br />

  <p style="text-align: center">
    <b
      >Junte-se a nós nessa jornada e descubra como o início de uma carreira
      pode transformar vidas!</b
    >
  </p>
</div>
<app-user-login-form></app-user-login-form>
<app-footer></app-footer>
