.article{
  display: flex;
}
.col-8{
  padding: 4rem;
}
.orange-line{
  display: flex;
  justify-content:center ;
  align-items: center;
  margin: 5rem 0rem;
  background-color: #FF7B2A;
  width: 100vw;
  height: 2rem;
  font-size: 70px;
  color: #004AAD;
  font-weight: 700;
  -webkit-text-stroke: 2px black;
}

