.d-flex {
  width: 80%;
  margin: 0 auto;
}
button {
  margin: 0 1rem;
  border-radius: 180px;
  width: 2.5rem;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
}
input{
  background-color: #D9D9D9;
  border-radius: 180px;
  padding: 0 2rem;
}
@media(max-width:890px){
  input::placeholder{
    display: none;
    color: #D9D9D9;
  }
  .close-btn{
    display: none;
  }
  button{
    margin: 0;
  }
}
