.container{
  width: 70%;
}
h2{
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  gap: 1rem;
  color: #004aad;
  font-weight: 600;
}
h2 i{
  color: #000;
}
p{
  font-size: 18px;
}
.row{
  margin-bottom: 3rem;
}
.card{
  width: 15rem;
  height: 11rem;
}
.col-3{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.col-8{
  margin-top: 4rem;
}
.col-9{
  margin-top: 4rem;
}
/* .container{
  width: 70%;
} */

