<app-navbar></app-navbar>
<h2>
  <i class="bi bi-arrow-left-circle" routerLink="/comunidade"></i>Dicas montagem
  de currículo
</h2>
<div class="container">
  <div class="row">
    <p>
      Montar um currículo atraente é uma das etapas mais importantes para sua
      Primeira Oportunidade. Ele é o fator mais chamativo que os recrutadores
      vão perceber quando você se candidatar a uma vaga. Um currículo bem
      estruturado e com um bom design vai aumentar suas chances de garantir uma
      entrevista. Vamos ver o que compõe um currículo:
    </p>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <img src="../../../assets/section1_2.jpeg" alt="" />
      </div>
      <div class="card">
        <img src="../../../assets/section1_1.jpeg" alt="" />
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img src="../../../assets/section1_3.jpeg" alt="" />
      </div>
      <div class="card">
        <img src="../../../assets/section1_4.jpeg" alt="" />
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img src="../../../assets/section1_5.jpeg" alt="" />
      </div>
    </div>
    <div class="col-3">
      <img src="../../../assets/textbook, notepad and pencil.png" alt="" />
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-9">
      <ul>
        <li>
          Dados Pessoais: Informações básicas que o recrutador precisa saber
        </li>
        <li>Objetivo Profissional: O que você está buscando naquela vaga?</li>
        <li>
          Formação Acadêmica: Auxilia o recrutador a saber mais sobre suas
          experiências acadêmicas
        </li>
        <li>
          Experiência Profissional: Saber se você já trabalhou antes pode
          auxiliar no momento da contratação
        </li>
        <li>
          Habilidades: Importante para o recrutador saber se você possui os
          conhecimentos exigidos pela vaga
        </li>
        <li>
          Informações Adicionais: Informações que sejam um diferencial em você
          como projetos nos quais trabalhou ou idiomas que aprendeu
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-3">
      <img
        src="../../../assets/Entrepreneur launching a startup project.png"
        alt=""
      />
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-9">
      <p>
        Dados Pessoais: Coloque seu nome completo, telefone, e-mail, cidade e
        estado. Não é necessário incluir CPF, RG, foto ou informações
        adicionais, apenas coloque se for requisitado pelo recrutador ou nas
        exigências da vaga.
      </p>
    </div>
    <div class="col-3">
      <div class="card">
        <img src="../../../assets/section1_2.jpeg" alt="" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>
        Objetivo Profissional: Ter um objetivo claro facilita a entender o que
        você procura. Como por exemplo: "Estou buscando desenvolver minhas
        habilidades de Desenvolvimento de Software em um estágio na minha
        área.". Isso já ajuda o recrutador a ter um entendimento do que você
        está buscando.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="card">
        <img src="../../../assets/section1_4.jpeg" alt="" />
      </div>
    </div>
    <div class="col-12 col-md-8">
      <p>
        Formação Acadêmica: Coloque todas as suas informações acadêmicas.
        Coloque o nome da escola ou universidade, o curso e o ano de conclusão
        ou previsão de término. Se você tem certificações, sempre adicione-as
        para contribuir no contexto das suas capacidades profissionais.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-9">
      <p>
        Experiência Profissional: Mesmo que você não tenha experiência
        profissional, pode incluir projetos desenvolvidos no decorrer do seu
        curso ou ensino. Na Primeira Oportunidade não esperamos que os
        candidatos possuam experiência prévia.
      </p>
    </div>
    <div class="col-3">
      <div class="card">
        <img src="../../../assets/section1_1.jpeg" alt="" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="card">
        <img src="../../../assets/section1_3.jpeg" alt="" />
      </div>
    </div>
    <div class="col-12 col-md-8">
      <p>
        Habilidades: Liste suas habilidades técnicas e comportamentais. Isso
        inclui o uso de softwares comuns (como Excel, Photoshop, etc.),
        programação, idiomas falados, e suas competências de relacionamento como
        trabalho em equipe, comunicação e liderança.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-9">
      <p>
        Informações Adicionais: Aqui você pode colocar prêmios, publicações,
        participações em eventos e hobbies que adicionem um pouco de contexto
        sobre você como pessoa
      </p>
    </div>
    <div class="col-3">
      <div class="card">
        <img src="../../../assets/section1_5.jpeg" alt="" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>
        Mantenha o seu currículo claro, organizado e atraente! Atualize suas
        informações com o decorrer do tempo e apenas insira o que for relevante
        para o contexto da sua área, sem muita informação trivial.
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
