<app-navbar></app-navbar>
<h2>Empresas</h2>
<app-search-form></app-search-form>
<div class="card-wrapper">
  <div class="row">
    <app-company-card class="col-6 col-md-3"></app-company-card>
    <app-company-card class="col-6 col-md-3"></app-company-card>
    <app-company-card class="col-6 col-md-3"></app-company-card>
    <app-company-card class="col-6 col-md-3"></app-company-card>
    <app-company-card class="col-6 col-md-3"></app-company-card>
    <app-company-card class="col-6 col-md-3"></app-company-card>
    <app-company-card class="col-6 col-md-3"></app-company-card>
    <app-company-card class="col-6 col-md-3"></app-company-card>
  </div>
</div>

